.bg-blue {
    background: black;
}

.color {
    color: #ff48c4;
    font-size: 20px;


}

.name {
    font-size: 30px;
    font-weight: bold;
    border: 1px solid white;
    margin-left: 20%;
    padding: 5px;
    
}

.mr-auto {
    margin-left: 30%;
}

.rows {
    width: 960px;
    margin: 0 auto;
    padding: 5px 40px 20px 40px;
    margin-top: 10px;
    height: 500px;
    background: black; 
    color: white;
    margin-bottom: 15px;

}

#me {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    border-bottom: 1px solid white;
}

#con {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 35px;
    border-bottom: 1px solid white;
}

img {
    float: left;
    margin-right: 10px;

   
}



.paragraph {
    font-size: 20px;
    margin-left: 10px;
}

.container {
    display: inline;
}

.foot {
    padding: 0 0 15px 0;
    color:  #f3ea5f;
    text-align: center;
    background: black;
    border-top: 4px solid #ff48c4;
    text-align: center;
    margin-bottom: 0 px;
    bottom: 0px;
    width: 100%;

}


a:hover {
    color: #0bff01;
}

.contact {
    width: 960px;
    margin: 0 auto;
    padding: 5px 40px 20px 40px;
    margin-top: 10px;
    height: 500px;
    background: black; 
    color: white;
    margin-bottom: 15px;

}

.submit {
    background: #0bff01;
    color: black;
}

.rowCol {
    width: 960px;
    margin: 0 auto;
    padding: 5px 40px 20px 40px;
    margin-top: 10px;
    height: 500px;
    background: black; 
    color: white;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}








